.carousel-box{
    margin-top: 100px;
}
p{
    color: #999;
    font-size: 13px;
    line-height: 25px;

}
h1{
    text-transform: uppercase;
}
.indic,.a{
    background: orange;
}
.carousel-indicators button{
    background-color: orange;
}
.a{
    background-color: orange;
}
h5{
    font-weight: 600;
}
.see-all-link{
    text-decoration: none;
    font-weight: bold;
}
.card{
    border: none;
    box-shadow: 0 0 20px #dfdfdf;
    padding: 60px 30px 20px 30px;
    border-radius: 10px;
}
.navbg{
    background-color: white;
    box-shadow: 0 0 10px #c0c0c057;
    padding: 8px;
}
.cathead{
    margin: 65px 0 30px 0;
}
.cathead h5{
    font-size: 30px;
}
.cat{
    position: relative;
    margin-bottom: 50px;
    margin-top: 150px;
}
.cat::after{
    content: '';
    background: linear-gradient(to left, orange, gold);
    position: absolute;
    height: 6px;
    border-radius: 5px;
    width: 80px;
    left: calc(50% - 40px);
}
.bag, .perf, .shoe{
    margin: 25px 0;
    padding: 50px;
    box-shadow: 0 0 15px #c0c0c049;
}
.bag{
    border-radius: 5px 10px 5px 30px;
}
.perf{
    border-radius: 10px 5px 30px 5px;

}
.shoe{
    border-radius: 10px 5px 30px 5px;
}
.bag span, .perf span, .shoe span{
    font-weight: bold;
    padding: 40px 0 0 0;
}
.fas{
    margin: 0 0 0 5px;
    font-size: 12px;
    color: whitesmoke;
}
.btn{
    padding: 8px 15px;
    border-radius: 5px;
}
.slider-bg{
    background: url(res/bg-2.png) no-repeat bottom left;
    background-size: 10%;
    margin-bottom: 100px;
}
.s1{
    background: url(res/bg-1.png) no-repeat center right ;
    background-size: auto 220px;

}
.s2,.s1{
    /* background:red; */
    height: max-content;
}
.s2{
    height: 400px;
    /* background:red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 50px;
}
.price{
    margin: 35px auto 20px auto;
    color: #555;
}
#footer{
    margin: 100px auto;
}
.slide-p{
    margin: 25px 0;
}